<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Check Upload</title>

    <!-- Custom fonts for this template-->
    <link href=""  th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="" th:href="@{/css/googlefont.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <!-- icon -->
    <link rel="shortcut icon"  th:href="@{/img/bb.png}" type="image/x-icon"/>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html" th:href="@{/admin/index}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html" th:href="@{/admin/index}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>倍思Basics</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Manage
        </div>



        <!-- Nav Item - Words -->
        <li class="nav-item">
            <a class="nav-link" href="" th:href="@{/admin/Words}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Words</span></a>
        </li>

        <!-- Nav Item - Manage Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseManage" aria-expanded="true" aria-controls="collapseManage">
                <i class="fas fa-fw fa-table"></i>
                <span>Manage</span>
            </a>
            <div id="collapseManage" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Manage Screens:</h6>
                    <a class="collapse-item" href="" th:href="@{/admin/admin_tables}">Admin Tables</a>
                    <a class="collapse-item" href="" th:href="@{/admin/tables}">User Tables</a>
                    <!--            <a class="collapse-item" href="forgot-password.html">Forgot Password</a>-->
                    <!--            <div class="collapse-divider"></div>-->
                    <!--            <h6 class="collapse-header">Other Pages:</h6>-->
                    <!--            <a class="collapse-item" href="404.html">404 Page</a>-->
                    <!--            <a class="collapse-item" href="update.html">Blank Page</a>-->
                </div>
            </div>
        </li>

        <!-- Nav Item - Resources -->
        <li class="nav-item" id="resources">
            <a class="nav-link" href="" th:href="@{/admin/Resources}">
                <i class="fas fa-fw fa-plane"></i>
                <span>Resources</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${session.admin.adminName}"></span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <!--                <a class="dropdown-item" href="#">-->
                            <!--                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
                            <!--                  Profile-->
                            <!--                </a>-->
                            <!--                <a class="dropdown-item" href="#">-->
                            <!--                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
                            <!--                  Settings-->
                            <!--                </a>-->
                            <!--                <a class="dropdown-item" href="#">-->
                            <!--                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>-->
                            <!--                  Activity Log-->
                            <!--                </a>-->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" th:href="@{/login}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid" id="container">
                <!-- Begin Page Content -->
                <div class="upload-container">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Upload Check</h1>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">File List</h6>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>文件名</th>
                                        <th>文件类型</th>
                                        <th>文件大小(Byte)</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>文件名</th>
                                        <th>文件类型</th>
                                        <th>文件大小(Byte)</th>
                                        <th>操作</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr th:each="filelist:${uploadFileList}" >
                                        <td th:text="${filelist.fileName}"></td>
                                        <td th:text="${filelist.fileType}"></td>
                                        <td th:text="${filelist.size}"></td>
                                        <td>
                                            <a th:href="@{/file/check/}+${filelist.fileName}">
                                                <button class="btn btn-sm btn-light">审核</button>
                                            </a>
                                            <a th:href="@{/file/deleteFile/}+${filelist.fileName}" >
                                                <button class="btn btn-sm btn-primary">删除</button>
                                            </a>
                                            <a th:href="${filelist.fileDownloadUri}">
                                                <button class="btn btn-sm btn-link">下载</button>
                                            </a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>

                </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; 倍思Basics 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="../login.html" th:href="@{/login}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script src="" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script src="" th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script src="" th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script src="" th:src="@{/js/demo/chart-area-demo.js}"></script>
<script src="" th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html>
