<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Animation Utilities</title>

    <!-- Custom fonts for this template-->
    <link href="" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script src="" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script src="" th:src="@{/js/sb-admin-2.min.js}"></script>

    <script>
        $(function () {
            $("#audio").mouseover(function () {
                // alert("你点我干嘛");
                var pron = $("#pron").val();
                // alert(pron);
                $("#hint").remove();
                var audioJQ = $("<audio src='" + pron + "' autoplay id='hint'/>");
                audioJQ.appendTo("body");
            });

            $(".audio1").on("mouseover",function () {
                // alert("你点我干嘛");
                var pron = $("#pron1").val();
                // alert(pron);
                $("#hint1").remove();
                var audioJQ = $("<audio src='" + pron + "' autoplay id='hint1'/>");
                audioJQ.appendTo("body");
            });

            // $(".choose").on("click",function () {
            //     // alert("!!");
            //     var value = $(this).attr("value");
            //     var correctWord = document.getElementById("thisId");
            //     var chinese = correctWord.value;
            //     if (chinese!=value){
            //         alert("选错了！别灰心，看看单词释义吧！");
            //     }else{
            //         alert("选对了！")
            //     }
            //     // alert(value);
            // })

            $("#right").click(function () {
                //alert("你点我了");
                var index = $("#index").val();
                // index = index + 1;
                var url = "/recitewords/nextWord";
                var args = {"index":index,"time":new Date()};
                $.post(url, args, function (data) {
                    if(data == "success") {
                        alert("已经是最后一个了！");
                    } else {
                        data = JSON.parse(data);//先解析json字符串
                        //alert(data.map);
                        // $("#index").val(data.index);
                        // var sub = data.word.englishWord;
                        // var en1 = data.word.englishInstance1;
                        // var en2 = data.word.englishInstance2;
                        // var eN1 = new Array();
                        // eN1 = en1.split(sub);
                        // var eN2 = new Array();
                        // eN2 = en2.split(sub);
                        $("#index").prop("value", data.index);
                        $("#pron").prop("value",data.word.pron);
                        $("#wordId").prop("value",data.word.wordId);
                        $("#englishWord").text(data.word.englishWord);
                        $("#eGw").val(data.word.englishWord);
                        $("#pa").text("/" + data.word.pa + "/");
                        $("#chineseWord").text(data.word.chineseWord);
                        $("#englishInstance1").text(data.sentence1);
                        // $("#englishInstance1").text(eN1[0]+" _______ "+eN1[1]);
                        $("#chineseInstance1").text("1、" + data.word.chineseInstance1);
                        $("#englishInstance2").text(data.sentence2);
                        // $("#englishInstance2").text(eN2[0]+" _______ "+eN2[1]);
                        $("#chineseInstance2").text("2、" + data.word.chineseInstance2);
                        $("#example").hide();
                        $("#shuibian").prop("value","单词解释");
                    }
                });
            });

            $("#left").click(function () {
                // alert("你点我了");
                var index = $("#index").val();
                // alert(index);
                // index = index + 1;
                var url = "/recitewords/preWord";
                var args = {"index":index,"time":new Date()};
                $.post(url, args, function (data) {
                    if(data == "success") {
                        alert("前面已经没有了！");
                    } else {
                        data = JSON.parse(data);//先解析json字符串
                        //alert(data.map);
                        // $("#index").val(data.index);
                        // var sub = data.word.englishWord;
                        // var en1 = data.word.englishInstance1;
                        // var en2 = data.word.englishInstance2;
                        // var eN1 = new Array();
                        // var eN2 = new Array();
                        // eN1 = en1.split(sub);
                        // eN2 = en2.split(sub);

                        $("#index").prop("value", data.index);
                        $("#pron").prop("value",data.word.pron);
                        $("#wordId").prop("value",data.word.wordId);
                        $("#englishWord").text(data.word.englishWord);
                        $("#eGw").val(data.word.englishWord);
                        $("#pa").text("/" + data.word.pa + "/");
                        $("#chineseWord").text(data.word.chineseWord);
                        // $("#englishInstance1").text(eN1[0]+" _______ "+eN1[1]);
                        $("#englishInstance1").text(data.sentence1);
                        $("#chineseInstance1").text("1、" + data.word.chineseInstance1);
                        // $("#englishInstance2").text(eN2[0]+" _______ "+eN2[1]);
                        $("#englishInstance2").text(data.sentence2);
                        $("#chineseInstance2").text("2、" + data.word.chineseInstance2);
                        $("#example").hide();
                        $("#shuibian").prop("value","单词解释");
                    }
                });
            });

            $("#addError").click(function () {
                var wordId = $("#wordId").val();
                // alert(wordId);
                var args = {"wordId":wordId,"time":new Date()};
                var url = "/recitewords/addError";
                $.post(url, args, function (data) {
                    alert(data);
                    // data = JSON.parse(data);
                    // // alert(data);
                    // var context = "<div >\n" +
                    //     "                                    <div style=\"display: inline-flex\">\n" +
                    //     "                                        <p style=\"font-size: xx-large;color: black\">" + data.word.englishWord +"</p>\n" +
                    //     "                                    </div>\n" +
                    //     "                                    <div style=\"display: inline-flex\">\n" +
                    //     "                                        <button class=\"btn\"><i id=\"audio1\" class=\"fa fa-volume-up audio1\"></i></button>\n" +
                    //     "                                        <input type=\"hidden\"  id=\"pron1\" value=\"" + data.word.pron + "\"/>\n" +
                    //     "                                    </div>\n" +
                    //     "                                    <div style=\"display: inline-flex\">\n" +
                    //     "                                        <p>\\" + data.word.pa +"\\</p>\n" +
                    //     "                                    </div>\n" +
                    //     "                                    <div style=\"display: inline-flex\">\n" +
                    //     "                                        <input type='hidden' id='errorWordId' value='" + data.word.wordId +"'/>\n" +
                    //     "                                        <button class=\"btn\"><i id='remove' class=\"fa fa-minus\"></i></button>\n" +
                    //     "                                    </div>\n" +
                    //     "                                </div>";
                    // var divJQ = $(context);
                    // divJQ.appendTo("#errors");
                    // window.location.reload();//刷新页面，不然动态绑定的事件不生效
                });
            });

            // $("#remove").on("click",function () {
            //     var errorWordId = $("#errorWordId").val();
            //     // alert(errorWordId);
            //     var url = "/recitewords/removeError";
            //     var args = {"errorWordId":errorWordId,"time":new Date()};
            //     $.post(url, args, function (data) {
            //         // alert(data);
            //         window.location.reload();
            //     })
            // });

        })

        function fill() {
            var check1 = $("#eI1").val();
            var check2 = $("#eI2").val();
            var ans = $("#eGw").val();
            // alert(check1+"  "+check2+"  "+ans);
            if(check1==ans&&check2==ans){
                alert("All correct!");
            }else if(check1!=ans&&check2!=ans){
                alert("All wrong,don't lose heart,look at the definition of the word!");
            }else if (check1==ans&&check2!=ans){
                alert("The second sentence is wrong!");
            }else if (check1!=ans&&check2==ans){
                alert("The first sentence is wrong");
            }
        }

        function show(obj) {
            var div = document.getElementById("example");
            if(obj.value == "隐藏") {
                div.style.display = "none";
                obj.value = "单词解释";
            }else{
                div.style.display = "block";
                obj.value = "隐藏";
            }
        }
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="" th:href="@{/user/index}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Components</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="buttons.html">Buttons</a>
                    <a class="collapse-item" href="cards.html">Cards</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Utilities</span>
            </a>
            <div id="collapseUtilities" class="collapse show" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Utilities:</h6>
                    <a class="collapse-item" href="utilities-color.html">Colors</a>
                    <a class="collapse-item" href="utilities-border.html">Borders</a>
                    <a class="collapse-item active" href="utilities-animation.html">Animations</a>
                    <a class="collapse-item" href="utilities-other.html">Other</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="" th:href="@{/user/chooseChineseWord}">ChooseC</a>
                    <a class="collapse-item" href="" th:href="@{/user/fillBlanks}">FillBlanks</a>
                    <a class="collapse-item" href="register.html">Register</a>
                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="" th:href="@{/user/recitation}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Recitation</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="" th:href="@{/user/errorWords}">
                <i class="fas fa-fw fa-table"></i>
                <span>ErrorWords</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${session.user.userName}"></span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#" th:href="@{user/personalInfo}">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Personal Info
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-1 text-gray-800">Animation Utilities</h1>
                <p class="mb-4">Bootstrap's default utility classes can be found on the official <a href="https://getbootstrap.com/docs">Bootstrap Documentation</a> page. The custom utilities below were created to extend this theme past the default utility classes built into Bootstrap's framework.</p>

                <!-- Content Row -->
                <div class="row">

                    <!-- Grow In Utility -->
                    <div class="col-lg-12">

                        <div class="card shadow mb-4">
                            <div class="card-header py-3" style="text-align: center">
                                <button id="left" class="btn" style="float: left"><i class="fa fa-angle-left"></i></button>
                                <span style="color: black">例句填空区</span>
                                <button id="right" class="btn" style="float: right;outline:none"><i class="fa fa-angle-right" ></i></button>
                                <input type="hidden" id="index" value="" th:value="${index}"/>
                            </div>
                            <div class="card-body">




                                <input type="hidden" value="" id="thisId" th:value="${word.chineseWord}"/>

<!--                                <div class="mt-4 mb-2">-->
<!--                                    &lt;!&ndash;<p id="chineseWord" th:text="${word.chineseWord}"></p>&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                    <input type="radio" text="" id="choose1" name="value111" style="margin-right: 10px" th:text="${chineseMap['map1']}" th:value="${chineseMap['map1']}">&ndash;&gt;-->
<!--                                    <p id="choose1" class="choose" name="value111" style="margin-right: 10px;cursor: pointer" th:text="'A. '+${chineseMap['map1']}" th:value="${chineseMap['map1']}"></p>-->
<!--                                </div>-->
<!--                                <div class="mt-4 mb-2">-->
<!--                                    &lt;!&ndash;<p id="chineseWord" th:text="${word.chineseWord}"></p>&ndash;&gt;-->
<!--                                    <p id="choose2" class="choose" name="value111" style="margin-right: 10px;cursor: pointer" th:text="'B. '+${chineseMap['map2']}" th:value="${chineseMap['map2']}"></p>-->
<!--                                    &lt;!&ndash;                                    <input type="radio" text="" id="choose2" name="value111" style="margin-right: 10px" th:text="${chineseMap['map2']}" th:value="${chineseMap['map2']}">&ndash;&gt;-->
<!--                                </div>-->
<!--                                <div class="mt-4 mb-2">-->
<!--                                    &lt;!&ndash;<p id="chineseWord" th:text="${word.chineseWord}"></p>&ndash;&gt;-->
<!--                                    <p id="choose3" class="choose" name="value111" style="margin-right: 10px;cursor: pointer" th:text="'C. '+${chineseMap['map3']}" th:value="${chineseMap['map3']}"></p>-->
<!--                                    &lt;!&ndash;                                    <input type="radio" text="" id="choose3" name="value111" style="margin-right: 10px" th:text="${chineseMap['map3']}" th:value="${chineseMap['map3']}">&ndash;&gt;-->
<!--                                </div>-->
<!--                                <div class="mt-4 mb-2">-->
<!--                                    &lt;!&ndash;<p id="chineseWord" th:text="${word.chineseWord}"></p>&ndash;&gt;-->
<!--                                    <p id="choose4" class="choose" name="value111" style="margin-right: 10px;cursor: pointer" th:text="'D. '+${chineseMap['map4']}" th:value="${chineseMap['map4']}"></p>-->
<!--                                    &lt;!&ndash;                                    <input type="radio" text="" id="choose4" name="value111" style="margin-right: 10px" th:text="${chineseMap['map4']}" th:value="${chineseMap['map4']}">&ndash;&gt;-->
<!--                                </div>-->

                                <div class="mb-2">
                                    <p>例句：</p>
                                </div>
<!--                                <form th:action="@{/user/fillBlanks}" method="post">-->
                                <div class="mt-4 mb-2">
                                    <p id="chineseInstance1" style="margin-left: 25px" th:text="'1、'+${word.chineseInstance1}"></p>
                                </div>
                                <div class="mt-4 mb-2">
                                    <p id="englishInstance1" style="margin-left: 25px" th:text="${sentence1}"></p>
                                    <input type="text" name="eI1" id="eI1" style="margin-left: 25px"/>
                            </div>
<!--                                <div class="mt-4 mb-2">-->
<!--                                    -->
<!--                                </div>-->
                                <div class="mt-4 mb-2">
                                    <p id="chineseInstance2" style="margin-left: 25px" th:text="'2、'+${word.chineseInstance2}"></p>
                                </div>
                                <div class="mt-4 mb-2">
                                    <p id="englishInstance2" style="margin-left: 25px" th:text="${sentence2}"></p>
                                    <input type="text" name="eI2" id="eI2" style="margin-left: 25px"/>
                                </div>
<!--                                    <div class="mt-4 mb-2">-->
<!--                                        -->
<!--                                    </div>-->
                                    <div class="mt-4 mb-2">
                                        <input type="submit" id="confirm" value="提交" style="margin-left: 25px" onclick="fill()"/>
                                    </div>
<!--                                </form>-->



                                <input id="shuibian" type="button" value="单词解释" style="background-color: #4e73df;color: white;border-color: #4e73df;margin-left: 25px" onclick="show(this)"/>
                                <div id="example" style="display: none;margin-left: 25px">

                                    <div style="display: inline-flex">
                                        <p style="font-size: xx-large;color: black" id="englishWord" th:text="${word.englishWord}" th:value="${word.englishWord}"></p>
                                        <input type="hidden" id="eGw" th:value="${word.englishWord}">
                                    </div>
                                    <div class="btn-circle">
                                        <button class="btn"><i id="audio" class="fa fa-volume-up"></i></button>
                                        <input type="hidden" id="pron" th:value="${word.pron}"/>
                                    </div>
                                    <div style="display: inline-flex">
                                        <p id="pa" th:text="'/'+${word.pa}+'/'"></p>
                                    </div>
                                    <div style="display: inline-flex;margin-left:30px">
                                        <input type="hidden" value="" id="wordId" th:value="${word.wordId}"/>
                                        <button class="btn" id="addError" title="添加到错词本"><i class="fa fa-book"></i></button>
                                    </div>

                                    <div class="mb-2">
                                        <p>单词释义：</p>
                                    </div>
                                    <div class="mt-4 mb-2">
                                        <p id="chineseWord" th:text="${word.chineseWord}"></p>
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="../login.html">Logout</a>
            </div>
        </div>
    </div>
</div>



</body>

</html>
