<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>倍思Basics - StudyPlan</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

    <style>
        .zoom{
            width: 1600px;
            height: 700px;
            /*border: black 1px solid;*/
        }

        .serial{
            width: 100px;
            height: 70px;
            /*position: absolute;*/
            /*border-radius: 5%;*/
            border: grey 1px solid;
            cursor: not-allowed;
            background-color: snow;
        }
    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">User<sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="index.html" th:href="@{/user/index}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>倍思Basics</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Components</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="buttons.html">Buttons</a>
                    <a class="collapse-item" href="cards.html">Cards</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Utilities</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Utilities:</h6>
                    <a class="collapse-item" href="utilities-color.html">Colors</a>
                    <a class="collapse-item" href="utilities-border.html">Borders</a>
                    <a class="collapse-item" href="utilities-animation.html">Animations</a>
                    <a class="collapse-item" href="utilities-other.html">Other</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>

        <!-- Nav Item - StudyPlan -->
        <li class="nav-item active">
            <a class="nav-link" href="" th:href="@{/user/StudyPlan}">
                <i class="fas fa-fw fa-plane"></i>
                <span>StudyPlan</span></a>
        </li>

        <!-- Nav Item - Study part Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages1" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-book"></i>
                <span>Study part</span>
            </a>
            <div id="collapsePages1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Portal</h6>
                    <a class="collapse-item" href="" th:href="@{/user/Alphabet}">
                        <i class="fas fa-fw fa-dice-two"></i>Alphabet</a>
                    <a class="collapse-item" href="" th:href="@{/user/PhoneticSymbol}">
                        <i class="fas fa-fw fa-dice-one"></i>PhoneticSymbol</a>
                    <a class="collapse-item" href="" th:href="@{/user/CharacteristicOfWord}">
                        <i class="fas fa-fw fa-dice-three"></i>CharacteristicOfWord</a>
                    <a class="collapse-item" href="" th:href="@{/user/DeriveOfWord}">
                        <i class="fas fa-fw fa-dice-four"></i>DeriveOfWord</a>
                    <a class="collapse-item" href="" th:href="@{/user/Grammar}">
                        <i class="fas fa-fw fa-dice-five"></i>Grammar</a>
                    <a class="collapse-item" href="" th:href="@{/user/Sentence}">
                        <i class="fas fa-fw fa-dice-six"></i>Sentence</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Portal</h6>
                    <a class="collapse-item" href="404.html">
                        <i class="fas fa-fw fa-question"></i>404 Page</a>
                    <a class="collapse-item" href="blank.html">
                        <i class="fas fa-fw fa-meh-blank"></i>Blank Page</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Test part Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages2" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-gamepad"></i>
                <span>Test part</span>
            </a>
            <div id="collapsePages2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Test Portal</h6>
                    <a class="collapse-item" href="" th:href="@{/user/chooseChineseWord}">
                        <i class="fas fa-fw fa-dog"></i>ChooseC</a>
                    <a class="collapse-item" href="" th:href="@{/user/chooseEnglishWord}">
                        <i class="fas fa-fw fa-cat"></i>ChooseE</a>
                    <a class="collapse-item" href="" th:href="@{/user/fillBlanks}">
                        <i class="fas fa-fw fa-cat"></i>FillBlanks</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Recite&Error Portal</h6>
                    <a class="collapse-item" href="" th:href="@{/user/recitation}">
                        <i class="fas fa-fw fa-recycle"></i>Recitation</a>
                    <a class="collapse-item" href="" th:href="@{/user/errorWords}">
                        <i class="fas fa-fw fa-magic"></i>ErrorWords</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${session.user.userName}"></span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#" th:href="@{/user/personalInfo}">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Personal Info
                            </a>
                            <a class="dropdown-item" href="#" >
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <script>

                // $("#serial").serial{
                //
                // }
                function fun(num) {
                    document.getElementById("c"+num).style.backgroundColor="#89e2c2";
                    document.getElementById("c"+(num+1)).style.cursor="pointer";
                    document.getElementById("c"+(num+1)).style.backgroundColor="#fadf9b";
                    document.getElementById("c"+(num+1)).disable="";
                }


            </script>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-1 text-gray-800">StudyPlan</h1>
                <p class="mb-4">Set a plan to suit yourself.<a href="https://getbootstrap.com/docs"></a></p>

                <!-- Content Row -->
                <div class="row">

                    <!-- Grow In Utility -->
                    <div class="col-lg-12">

                        <div class="p-5">

                        <canvas id="canvas" width="1500" height="800"></canvas>

                        </div>

                    </div>

                </div>


            </div>
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="../login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script th:src="@{/js/jtopo-0.4.8.min.js}"></script>

<script>
    $(document).ready(function() {
        // //画布对象：canvas
        var canvas = document.getElementById('canvas');
        var stage = new JTopo.Stage(canvas);
        //显示工具栏
        // showJTopoToobar(stage);

        var scene = new JTopo.Scene();
        stage.add(scene);
        scene.background = '../img/bg.jpg';

        var root = new JTopo.CircleNode('知识体系');
        root.setSize(80, 80);
        root.setLocation(700, 350);
        root.fillColor = JTopo.util.randomColor();
        scene.add(root);

        var node1 = new JTopo.CircleNode('拼读知识');
        node1.fillColor = JTopo.util.randomColor();
        node1.setLocation(550,300);
        node1.setSize(50, 50);
        var link1 = new JTopo.Link(root, node1);
        link1.arrowsRadius = 15;
        link1.lineWidth=8;
        link1.strokeColor = JTopo.util.randomColor();
        scene.add(link1);
        var node1_1 = new JTopo.CircleNode("字母");
        node1_1.fillColor = JTopo.util.randomColor();
        node1_1.setLocation(400,200);
        var node1_2 = new JTopo.CircleNode("音标");
        node1_2.fillColor = JTopo.util.randomColor();
        node1_2.setLocation(400,350);
        var link1_1 = new JTopo.Link(node1, node1_1);
        link1_1.arrowsRadius = 10;
        link1_1.lineWidth=4;
        link1_1.strokeColor = JTopo.util.randomColor();
        scene.add(link1_1);
        var link1_2 = new JTopo.Link(node1, node1_2);
        link1_2.arrowsRadius = 10;
        link1_2.lineWidth=4;
        link1_2.strokeColor = JTopo.util.randomColor();
        scene.add(link1_2);
        scene.add(node1);
        scene.add(node1_1);
        scene.add(node1_2);

        root.click(function (event) {
            if (event.button==0){
                root.fillColor = JTopo.util.randomColor();
                link1.strokeColor = JTopo.util.randomColor();
                link2.strokeColor = JTopo.util.randomColor();
                link3.strokeColor = JTopo.util.randomColor();
                link4.strokeColor = JTopo.util.randomColor();
            }
            if (root.text=="知识体系"){
                root.text="Knowledge System";
            }else {
                root.text="知识体系";
            }
        })

        node1.click(function (event) {
            if (event.button==0){
                node1.fillColor = JTopo.util.randomColor();
                link1_1.strokeColor = JTopo.util.randomColor();
                link1_2.strokeColor = JTopo.util.randomColor();
            }
            if (node1.text=="拼读知识"){
                node1.text="Spell";
            }else {
                node1.text="拼读知识";
            }
        })

        node1_1.click(function (event) {
            if (node1_1.text=="字母"){
                node1_1.text="Alphabet";
            }else {
                node1_1.text="字母";
            }
        })

        node1_2.click(function (event) {
            if (node1_2.text=="音标"){
                node1_2.text="PhoneticSymbol";
            }else {
                node1_2.text="音标";
            }
        })

        var node2 = new JTopo.CircleNode('句法知识');
        node2.setLocation(900,300);
        node2.setSize(50, 50);
        node2.fillColor = JTopo.util.randomColor();
        var link2 = new JTopo.Link(root, node2);
        link2.arrowsRadius = 15;
        link2.lineWidth=8;
        link2.strokeColor = JTopo.util.randomColor();
        scene.add(link2);
        var node2_1 = new JTopo.CircleNode("简单句");
        node2_1.setLocation(1000,400);
        node2_1.fillColor = JTopo.util.randomColor();
        var node2_2 = new JTopo.CircleNode("并列句");
        node2_2.setLocation(1000,200);
        node2_2.fillColor = JTopo.util.randomColor();
        var node2_3 = new JTopo.CircleNode("复合句");
        node2_3.setLocation(1100,300);
        node2_3.fillColor = JTopo.util.randomColor();
        var link2_1 = new JTopo.Link(node2, node2_1);
        link2_1.arrowsRadius = 10;
        link2_1.lineWidth=4;
        link2_1.strokeColor = JTopo.util.randomColor();
        scene.add(link2_1);
        var link2_2 = new JTopo.Link(node2, node2_2);
        link2_2.arrowsRadius = 10;
        link2_2.lineWidth=4;
        link2_2.strokeColor = JTopo.util.randomColor();
        scene.add(link2_2);
        var link2_3 = new JTopo.Link(node2, node2_3);
        link2_3.arrowsRadius = 10;
        link2_3.lineWidth=4;
        link2_3.strokeColor = JTopo.util.randomColor();
        scene.add(link2_3);
        scene.add(node2);
        scene.add(node2_1);
        scene.add(node2_2);
        scene.add(node2_3);

        node2.click(function (event) {
            if (event.button==0){
                node2.fillColor = JTopo.util.randomColor();
                link2_1.strokeColor = JTopo.util.randomColor();
                link2_2.strokeColor = JTopo.util.randomColor();
                link2_3.strokeColor = JTopo.util.randomColor();
            }
            if (node2.text=="句法知识"){
                node2.text="Sentence";
            }else {
                node2.text="句法知识";
            }
        })

        node2_1.click(function (event) {
            if (node2_1.text=="简单句"){
                node2_1.text="Simple";
            }else {
                node2_1.text="简单句";
            }
        })

        node2_2.click(function (event) {
            if (node2_2.text=="并列句"){
                node2_2.text="Compound";
            }else {
                node2_2.text="并列句";
            }
        })

        var node3 = new JTopo.CircleNode('词法知识');
        node3.setLocation(725,500);
        node3.setSize(50, 50);
        node3.fillColor = JTopo.util.randomColor();
        var link3 = new JTopo.Link(root, node3);
        link3.arrowsRadius = 15;
        link3.lineWidth=8;
        link3.strokeColor = JTopo.util.randomColor();
        scene.add(link3);
        var node3_1 = new JTopo.CircleNode("词性");
        node3_1.setLocation(850,600);
        node3_1.fillColor = JTopo.util.randomColor();
        var node3_2 = new JTopo.CircleNode("时态");
        node3_2.setLocation(600,600);
        node3_2.fillColor = JTopo.util.randomColor();
        var node3_3 = new JTopo.CircleNode("语态");
        node3_3.setLocation(725,650);
        node3_3.fillColor = JTopo.util.randomColor();
        var link3_1 = new JTopo.Link(node3, node3_1);
        link3_1.arrowsRadius = 10;
        link3_1.lineWidth=4;
        link3_1.strokeColor = JTopo.util.randomColor();
        scene.add(link3_1);
        var link3_2 = new JTopo.Link(node3, node3_2);
        link3_2.arrowsRadius = 10;
        link3_2.lineWidth=4;
        link3_2.strokeColor = JTopo.util.randomColor();
        scene.add(link3_2);
        var link3_3 = new JTopo.Link(node3, node3_3);
        link3_3.arrowsRadius = 10;
        link3_3.lineWidth=4;
        link3_3.strokeColor = JTopo.util.randomColor();
        var node3_3_1 = new JTopo.CircleNode("主动语态");
        node3_3_1.setLocation(800,700);
        node3_3_1.setSize(25,25);
        node3_3_1.fillColor = JTopo.util.randomColor();
        var link3_3_1 = new JTopo.Link(node3_3, node3_3_1);
        link3_3_1.arrowsRadius = 10;
        link3_3_1.strokeColor = JTopo.util.randomColor();
        var node3_3_2 = new JTopo.CircleNode("被动语态");
        node3_3_2.setLocation(650,700);
        node3_3_2.setSize(25,25);
        node3_3_2.fillColor = JTopo.util.randomColor();
        var link3_3_2 = new JTopo.Link(node3_3, node3_3_2);
        link3_3_2.arrowsRadius = 10;
        link3_3_2.strokeColor = JTopo.util.randomColor();
        scene.add(link3_3);
        scene.add(node3);
        scene.add(node3_1);
        scene.add(node3_2);
        scene.add(node3_3);
        scene.add(node3_3_1);
        scene.add(node3_3_2);
        scene.add(link3_3_1);
        scene.add(link3_3_2);

        node3.click(function (event) {
            if (event.button==0){
                node3.fillColor = JTopo.util.randomColor();
                link3_1.strokeColor = JTopo.util.randomColor();
                link3_2.strokeColor = JTopo.util.randomColor();
                link3_3.strokeColor = JTopo.util.randomColor();
            }
            if (node3.text=="词法知识"){
                node3.text="Word";
            }else {
                node3.text="词法知识";
            }
        })

        node3_1.click(function (event) {
            if (event.button==0){
                node3_1.fillColor = JTopo.util.randomColor();
                linkW.strokeColor = JTopo.util.randomColor();
            }
            if (node3_1.text=="词性"){
                node3_1.text="Characteristic";
            }else {
                node3_1.text="词性";
            }
        })

        node3_2.click(function (event) {
            if (event.button==0){
                node3_2.fillColor = JTopo.util.randomColor();
                linkS.strokeColor = JTopo.util.randomColor();
            }
            if (node3_2.text=="时态"){
                node3_2.text="Tense";
            }else {
                node3_2.text="时态";
            }
        })

        node3_3.click(function (event) {
            if (event.button==0){
                node3_3.fillColor = JTopo.util.randomColor();
                link3_3_1.strokeColor = JTopo.util.randomColor();
                link3_3_2.strokeColor = JTopo.util.randomColor();
            }
            if (node3_3.text=="语态"){
                node3_3.text="Voice";
            }else {
                node3_3.text="语态";
            }
        })

        var node4 = new JTopo.CircleNode('练习测试');
        node4.setLocation(725,250);
        node4.setSize(50,50);
        node4.fillColor = JTopo.util.randomColor();
        var link4 = new JTopo.Link(root, node4);
        link4.arrowsRadius = 15;
        link4.lineWidth=8;
        link4.strokeColor = JTopo.util.randomColor();
        scene.add(link4);
        var node4_1 = new JTopo.CircleNode("中文释义");
        node4_1.setLocation(850,150);
        node4_1.fillColor = JTopo.util.randomColor();
        var node4_2 = new JTopo.CircleNode("听音选词");
        node4_2.setLocation(600,150);
        node4_2.fillColor = JTopo.util.randomColor();
        var node4_3 = new JTopo.CircleNode("例句填空");
        node4_3.setLocation(725,100);
        node4_3.fillColor = JTopo.util.randomColor();
        var link4_1 = new JTopo.Link(node4, node4_1);
        link4_1.arrowsRadius = 10;
        link4_1.lineWidth=4;
        link4_1.strokeColor = JTopo.util.randomColor();
        scene.add(link4_1);
        var link4_2 = new JTopo.Link(node4, node4_2);
        link4_2.arrowsRadius = 10;
        link4_2.lineWidth=4;
        link4_2.strokeColor = JTopo.util.randomColor();
        scene.add(link4_2);
        var link4_3 = new JTopo.Link(node4, node4_3);
        link4_3.arrowsRadius = 10;
        link4_3.lineWidth=4;
        link4_3.strokeColor = JTopo.util.randomColor();
        scene.add(link4_3);
        scene.add(node4);
        scene.add(node4_1);
        scene.add(node4_2);
        scene.add(node4_3);

        node4.click(function (event) {
            if (event.button==0){
                node4.fillColor = JTopo.util.randomColor();
                link4_1.strokeColor = JTopo.util.randomColor();
                link4_2.strokeColor = JTopo.util.randomColor();
                link4_3.strokeColor = JTopo.util.randomColor();
            }
            if (node4.text=="练习测试"){
                node4.text="Test";
            }else {
                node4.text="练习测试";
            }
        })

        node4_1.click(function (event) {
            if (node4_1.text=="中文释义"){
                node4_1.text="ChooseC";
            }else {
                node4_1.text="中文释义";
            }
        })

        node4_2.click(function (event) {
            if (node4_2.text=="听音选词"){
                node4_2.text="ChooseE";
            }else {
                node4_2.text="听音选词";
            }
        })

        node4_3.click(function (event) {
            if (node4_3.text=="例句填空"){
                node4_3.text="FillBlank";
            }else {
                node4_3.text="例句填空";
            }
        })




















        var gridLayout = JTopo.layout.GridLayout(3, 4);
        //创建容器
        var container2 = new JTopo.Container('词性分类');
        container2.layout = gridLayout;
        container2.fillColor = '10,10,100';
        container2.setBound(1080, 550, 400, 200);
        scene.add(container2);
        var linkW = new JTopo.Link(node3_1,container2);
        linkW.arrowsRadius = 10;
        linkW.strokeColor = JTopo.util.randomColor();
        scene.add(linkW);

        for(var i=1; i<11; i++){
            if (i==1) var node = new JTopo.Node("名词");
            else if (i==2) var node = new JTopo.Node("形容词");
            else if (i==3) var node = new JTopo.Node("动词");
            else if (i==4) var node = new JTopo.Node("冠词");
            else if (i==5) var node = new JTopo.Node("连词");
            else if (i==6) var node = new JTopo.Node("代词");
            else if (i==7) var node = new JTopo.Node("副词");
            else if (i==8) var node = new JTopo.Node("数词");
            else if (i==9) var node = new JTopo.Node("介词");
            else if (i==10) var node = new JTopo.Node("感叹词");
            // var node = new JTopo.Node("F_" + i);
            node.textPosition = "Middle_Center";
            node.setSize(40,40);
            node.fillColor = JTopo.util.randomColor();
            scene.add(node);
            container2.add(node);
        }


        var gridLayout1 = JTopo.layout.GridLayout(2, 2);

        var container1 = new JTopo.Container('名词性从句');
        container1.layout = gridLayout1;
        container1.fillColor = '10,10,100';
        container1.setBound(1180, 10, 300, 150);
        scene.add(container1);
        var linkC = new JTopo.Link(node2_3,container1);
        linkC.arrowsRadius = 10;
        linkC.strokeColor = JTopo.util.randomColor();
        scene.add(linkC);
        for(var j=1; j<5; j++) {
            if (j == 1) var nodeN = new JTopo.CircleNode("主语从句");
            else if (j == 2) var nodeN = new JTopo.CircleNode("宾语从句");
            else if (j == 3) var nodeN = new JTopo.CircleNode("表语从句");
            else if (j == 4) var nodeN = new JTopo.CircleNode("同位语从句");
            nodeN.textPosition = "Middle_Right";
            nodeN.setSize(30,30);
            nodeN.fillColor = JTopo.util.randomColor();
            scene.add(nodeN);
            container1.add(nodeN);
        }

        var gridLayout2 = JTopo.layout.GridLayout(3, 2);

        var container3 = new JTopo.Container('状语从句');
        container3.layout = gridLayout2;
        container3.fillColor = '10,10,100';
        container3.setBound(1180, 350, 300, 150);
        scene.add(container3);
        var linkZ = new JTopo.Link(node2_3,container3);
        linkZ.arrowsRadius = 10;
        linkZ.strokeColor = JTopo.util.randomColor();
        scene.add(linkZ);
        for(var j=1; j<6; j++) {
            if (j == 1) var nodeA = new JTopo.Node("时间状语从句");
            else if (j == 2) var nodeA = new JTopo.Node("方式状语从句");
            else if (j == 3) var nodeA = new JTopo.Node("原因状语从句");
            else if (j == 4) var nodeA = new JTopo.Node("目的状语从句");
            else if (j == 5) var nodeA = new JTopo.Node("让步状语从句");
            nodeA.textPosition="Middle_Right";
            nodeA.setSize(20,20);
            nodeA.fillColor = JTopo.util.randomColor();
            scene.add(nodeA);
            container3.add(nodeA);
        }

        var gridLayout3 = JTopo.layout.GridLayout(4, 4);

        var container4 = new JTopo.Container('时态分类');
        container4.layout = gridLayout3;
        container4.fillColor = '10,10,100';
        container4.setBound(10, 450, 500, 300);
        scene.add(container4);
        var linkS = new JTopo.Link(node3_2,container4);
        linkS.arrowsRadius = 10;
        linkS.strokeColor = JTopo.util.randomColor();
        scene.add(linkS);
        for(var j=1; j<17; j++) {
            if (j == 1) var nodeA = new JTopo.CircleNode("一般现在时");
            else if (j == 2) var nodeA = new JTopo.CircleNode("一般过去时");
            else if (j == 3) var nodeA = new JTopo.CircleNode("一般将来时");
            else if (j == 4) var nodeA = new JTopo.CircleNode("现在进行时");
            else if (j == 5) var nodeA = new JTopo.CircleNode("过去进行时");
            else if (j == 6) var nodeA = new JTopo.CircleNode("将来进行时");
            else if (j == 7) var nodeA = new JTopo.CircleNode("现在完成时");
            else if (j == 8) var nodeA = new JTopo.CircleNode("过去完成时");
            else if (j == 9) var nodeA = new JTopo.CircleNode("将来完成时");
            else if (j == 10) var nodeA = new JTopo.CircleNode("现在完成进行时");
            else if (j == 11) var nodeA = new JTopo.CircleNode("过去完成进行时");
            else if (j == 12) var nodeA = new JTopo.CircleNode("将来完成进行时");
            else if (j == 13) var nodeA = new JTopo.CircleNode("过去将来时");
            else if (j == 14) var nodeA = new JTopo.CircleNode("过去将来进行时");
            else if (j == 15) var nodeA = new JTopo.CircleNode("过去将来完成时");
            else if (j == 16) var nodeA = new JTopo.CircleNode("过去将来完成进行时");
            nodeA.textPosition="Bottom_Center";
            nodeA.setSize(25,25);
            nodeA.fillColor = JTopo.util.randomColor();
            scene.add(nodeA);
            container4.add(nodeA);
        }

        var text = new JTopo.TextNode("定语从句");
        var linkO = new JTopo.Link(node2_3,text);
        text.setLocation(1300,240);
        linkO.arrowsRadius = 10;
        linkO.strokeColor = JTopo.util.randomColor();
        scene.add(text);
        scene.add(linkO);

        node2_3.click(function (event) {
            if (event.button==0) {
                node2_3.fillColor = JTopo.util.randomColor();
                linkC.strokeColor=JTopo.util.randomColor();
                linkZ.strokeColor=JTopo.util.randomColor();
                linkO.strokeColor=JTopo.util.randomColor();
            }
            if (node2_3.text=="复合句"){
                node2_3.text="Complex";
            }else {
                node2_3.text="复合句";
            }
        })






        // var effect = JTopo.Effect.spring({
        //     grivity: 0, // 引力大小
        //     spring: 0.4, // 弹性系数
        //     friction: 0.3 // 摩擦系数
        // });
        // effect.addNode(node1,root);
        // effect.addNode(node1,node1_1);
        // effect.addNode(node1,node1_2);
        //
        // effect.addNode(node2,root);
        // effect.addNode(node2,node2_1);
        // effect.addNode(node2,node2_2);
        // effect.addNode(node2,node2_3);
        //
        // effect.addNode(node3,root);
        // effect.addNode(node3,node3_1);
        // effect.addNode(node3,node3_2);
        // effect.addNode(node3,node3_3);
        //
        // effect.play();

    });



</script>

</body>

</html>
