<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p th:text="${user.userId}"></p>
    <p th:text="${user.userName}"></p>
    <p th:text="${user.userTel}"></p>
    <p th:text="${user.userEmail}"></p>
    <p th:text="${user.userPassword}"></p>
    <p th:text="${user.userLevel}"></p>
    <p th:text="${user.userTarget}"></p>
    <p th:text="${user.userTh}"></p>
    <p th:text="${user.userTw}"></p>
</div>
</body>
</html>