<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Login</title>

  <!-- Custom fonts for this template-->
  <link href="" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<!--  <link href="" th:href="@{/css/googlefont.css}" rel="stylesheet">-->

  <!-- Custom styles for this template-->
  <link href="" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
  <!-- Bootstrap core JavaScript-->
  <script src="" th:href="@{/vendor/jquery/jquery.min.js}"></script>
  <script src="" th:href="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script src="" th:href="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script src="" th:href="@{/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script src="" th:href="@{/vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <script src="" th:href="@{/js/demo/chart-area-demo.js}"></script>
  <script src="" th:href="@{/js/demo/chart-pie-demo.js}"></script>
  <!-- icon -->
  <link href="" th:href="@{/img/bb.png}" rel="icon">
  <script>

    //   $(function(){
    //
    //     $("#select").change(function () {
    //           var kind = $("#select").val();
    //           if(kind == "#") {
    //               alert("请选择身份");
    //           }
    //           // console.log(kind);
    //           var email = $("#exampleInputEmail").val();
    //           var password = $("#input").val();
    //           var url = "/recitewords/loginCheck";
    //           var args = {"email":email,"password":password,"kind":kind,"time":new Date()};
    //       // $.post(url, args, function (data) {
    //       //   alert(data);
    //       //     data = JSON.parse(data);
    //       //     alert(data);
    //       //   $("#zifuchuan").html(data.hjk);
    //       //     })
    //           $.ajax({
    //             type: "POST",
    //             url: url,
    //             contentType: 'application/x-www-form-urlencoded;charset=utf-8',
    //             data:args,
    //             dataType: "json",
    //             success: function(data){
    //               console.log("aa");
    //               console.log("asd"+data)
    //               $("#zifuchuan").html(data.hjk);
    //             }
    //
    //           })
    //       })
    // });
  </script>
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form class="user" method="post" id="test_form" th:action="@{/currency/login}">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control " id="exampleInputEmail" aria-describedby="emailHelp" th:value="${email}" placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control " id="input"  placeholder="Password">
                    </div>

                    <!--<input type="hidden" id="password_md5" name="md5password"/>-->


                    <div class="form-group">
                      <select name="kind" class="form-control" id="select" required>
                          <option value="">选择身份</option>
                          <option value="publicUser">普通用户</option>
                          <option value="adminUser">管理员</option>
                      </select>
                    </div>
<!--                    -->
                    <p th:text="${msg}" style="font-size: 10px;color: red;"></p>
                    <p id="zifuchuan" style="font-size: 10px;color: red"></p>
                    <!--<div class="form-group">-->
                      <!--<div class="custom-control custom-checkbox small">-->
                        <!--<input type="checkbox" name="remember" class="custom-control-input" id="customCheck">-->
                        <!--<label class="custom-control-label" for="customCheck">Remember Me</label>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<button class="btn btn-primary  btn-block">Login</button>-->
                    <button type="submit" class="btn btn-primary  btn-block">Login</button>
                    <!--<input type="submit" value="Login" class="btn btn-primary  btn-block"/>-->
                    <!--<a href="user/index.html" class="btn btn-primary  btn-block">-->
                      <!--Login-->
                    <!--</a>-->
                    <hr>
                    <a href="user/index.html" class="btn btn-google  btn-block">
                      <i class="fab fa-google fa-fw"></i> Login with Google
                    </a>
                    <a href="user/index.html" class="btn btn-facebook  btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="" th:href="@{/user/forgot_password}">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="" th:href="@{/register}">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>




</body>

</html>
